Workflow 1 - Traitement Factures.json
{
  "name": "Workflow 1 - Traitement Factures",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "factures",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "59c540a2-896c-4985-90cd-f1c3bd6c89a0",
      "name": "Webhook",
      "webhookId": "a05fac00-543b-4652-afbb-7a269de29f22"
    },
    {
      "parameters": {
        "inputDataFieldName": "=pdf",
        "name": "={{ $json.body.nom }}_{{ Date.now() }}.pdf\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qGVqcN5bP6Agu3KzWP-LZNq0CGH_Tu29",
          "mode": "list",
          "cachedResultName": "Factures",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qGVqcN5bP6Agu3KzWP-LZNq0CGH_Tu29"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "46ce560a-762d-400e-8beb-115e48843854",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UbGs9zCL4gQ3MgFK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://drive.google.com/uc?export=download&id={{ $('Upload file').item.json.id }}\",\n  \"inline\": true,\n  \"async\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -16
      ],
      "id": "55bafc18-b211-4a32-9e4a-20f3b98ae058",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2nS9ag55UQaYZpzL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "dbd3e29b-b6e1-4d7e-80b2-ad5e50b75ebf",
      "name": "Share file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UbGs9zCL4gQ3MgFK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert comptable. Analyse ce texte de facture et extrais les informations suivantes.\nRéponds UNIQUEMENT avec un JSON valide, sans texte autour, sans markdown, sans backticks.\n\n{\n  \"fournisseur\": \"nom de l'entreprise qui émet la facture\",\n  \"date_facture\": \"date au format JJ/MM/AAAA\",\n  \"montant\": valeur numérique sans symbole,\n  \"numero_facture\": \"numéro de la facture si présent\"\n}\n\nTexte de la facture :\n{{ $json.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        768,
        -16
      ],
      "id": "57524ed1-5fc2-49c3-9d7b-f899c6a35072",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "qMzmn3dVP8DdfC8h",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const texte = $input.item.json.content.parts[0].text;\nconst nettoye = texte.replace(/```json|```/g, '').trim();\nconst data = JSON.parse(nettoye);\n\n// Validation des données\nconst erreurs = [];\n\nif (!data.fournisseur || data.fournisseur.includes('[')) {\n  erreurs.push('Fournisseur non détecté');\n}\nif (!data.date_facture || data.date_facture.includes('[')) {\n  erreurs.push('Date non détectée');\n}\nif (!data.montant || data.montant === 0) {\n  erreurs.push('Montant non détecté');\n}\nif (!data.numero_facture || data.numero_facture.includes('[')) {\n  erreurs.push('Numéro de facture non détecté');\n}\n\nreturn {\n  json: {\n    fournisseur: data.fournisseur || 'Non détecté',\n    date_facture: data.date_facture || 'Non détectée',\n    montant: data.montant || 0,\n    numero_facture: data.numero_facture || 'Non détecté',\n    statut_extraction: erreurs.length > 0 ? 'Incomplet' : 'Complet',\n    erreurs: erreurs.join(', ')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -16
      ],
      "id": "8de87ca4-95c6-4c96-975a-1eda2f3c31aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ",
          "mode": "list",
          "cachedResultName": "Gestion Factures",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Factures",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "En attente",
            "Montant": "={{ $json.montant }}",
            "Date_facture": "={{ $json.date_facture }}",
            "Fournisseur": "={{ $json.fournisseur }}",
            "Email_user": "={{ $('Webhook').item.json.body.email }}",
            "Date_reception": "={{ $now.format('DD/MM/YYYY') }}",
            "ID": "={{ $now.toMillis() }}",
            "Lien_PDF": "={{ $('Upload file').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date_reception",
              "displayName": "Date_reception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_user",
              "displayName": "Email_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fournisseur",
              "displayName": "Fournisseur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_facture",
              "displayName": "Date_facture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Montant",
              "displayName": "Montant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lien_PDF",
              "displayName": "Lien_PDF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -16
      ],
      "id": "5b871dbc-18a0-450b-83e2-9d1269934d75",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SJhAIlRu2s1EqAvd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "Votre facture a été reçue ✅",
        "message": "=<h2>Bonjour {{ $('Webhook').item.json.body.nom }},</h2>\n\n<p>Votre facture a bien été reçue et est en cours de traitement.</p>\n\n<p>Vous serez notifié par email dès qu'elle sera traitée par notre équipe.</p>\n\n<p>Merci de votre confiance.</p>\n\n<p>Cordialement,<br><b>Service Comptabilité</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1536,
        -16
      ],
      "id": "1b976717-5b23-4ace-b7bb-b9564b960867",
      "name": "Send a message",
      "webhookId": "517530ec-5538-42ab-9834-82740f734ea3",
      "credentials": {
        "gmailOAuth2": {
          "id": "XMc04IcwohYvig4Q",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "guermitichawki@gmail.com",
        "subject": "Nouvelle facture reçue 🔔",
        "message": "=<h2>Nouvelle facture reçue</h2>\n\n<h3>Informations utilisateur :</h3>\n<ul>\n  <li><b>Nom :</b> {{ $('Webhook').item.json.body.nom }}</li>\n  <li><b>Email :</b> {{ $('Webhook').item.json.body.email }}</li>\n</ul>\n\n<h3>Détails de la facture :</h3>\n<ul>\n  <li><b>Fournisseur :</b> {{ $('Code in JavaScript').item.json.fournisseur }}</li>\n  <li><b>Date :</b> {{ $('Code in JavaScript').item.json.date_facture }}</li>\n  <li><b>Montant :</b> {{ $('Code in JavaScript').item.json.montant }} DT</li>\n  <li><b>Numéro :</b> {{ $('Code in JavaScript').item.json.numero_facture }}</li>\n</ul>\n\n<h3>Action requise :</h3>\n<p>Veuillez consulter et traiter cette facture dans les plus brefs délais.</p>\n<ul>\n  <li><a href=\"{{ $('Upload file').item.json.webViewLink }}\">📄 Consulter le PDF</a></li>\n  <li><a href=\"https://docs.google.com/spreadsheets\">📊 Ouvrir Google Sheets</a></li>\n</ul>\n\n<p>Cordialement,<br><b>Système de gestion des factures</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1744,
        -16
      ],
      "id": "5336ab4c-d7a5-4673-a87a-62f06d62bb6b",
      "name": "Send a message1",
      "webhookId": "ec6bdc60-99ff-4ba9-b115-8d031314152c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XMc04IcwohYvig4Q",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"fournisseur\": \"[Nom de l'entreprise]\",\n  \"date_facture\": \"12/07/2021\",\n  \"montant\": 400.00,\n  \"numero_facture\": \"552\"\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Share file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce6117b0-e581-45f8-8cf2-72e2adf34e20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef213a3c88a4d771ed6123df7ff92a125923751329e683bf77a89bc6cafb695c"
  },
  "id": "gcW6QncAyU8cc7KR",
  "tags": []
}