Workflow 1 - Traitement Factures (1).json
{
  "name": "Workflow 1 - Traitement Factures",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "factures",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        144
      ],
      "id": "b3f7f48f-e9d3-44a9-bafb-1ccf280c2d8d",
      "name": "Webhook1",
      "webhookId": "a05fac00-543b-4652-afbb-7a269de29f22"
    },
    {
      "parameters": {
        "inputDataFieldName": "=pdf",
        "name": "={{ $json.body.nom }}_{{ Date.now() }}.pdf\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1qGVqcN5bP6Agu3KzWP-LZNq0CGH_Tu29",
          "mode": "list",
          "cachedResultName": "Factures",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1qGVqcN5bP6Agu3KzWP-LZNq0CGH_Tu29"
        },
        "options": {
          "simplifyOutput": false
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -192,
        144
      ],
      "id": "18271346-aaf8-4419-8099-0d3c1e4ec349",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UbGs9zCL4gQ3MgFK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://drive.google.com/uc?export=download&id={{ $('Upload file1').item.json.id }}\",\n  \"inline\": true,\n  \"async\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        144
      ],
      "id": "71580d9f-729e-45a2-874b-271c8d442222",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2nS9ag55UQaYZpzL",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        144
      ],
      "id": "000eb75c-7ba9-4773-8a4b-a75ce68b0eaa",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UbGs9zCL4gQ3MgFK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const texte = $input.item.json.content.parts[0].text;\nconst nettoye = texte.replace(/```json|```/g, '').trim();\nconst data = JSON.parse(nettoye);\n\nconst erreurs = [];\n\nif (!data.fournisseur || data.fournisseur.includes('[')) {\n  erreurs.push('Fournisseur non détecté');\n}\nif (!data.date_facture || data.date_facture.includes('[')) {\n  erreurs.push('Date non détectée');\n}\nif (!data.montant || data.montant === 0) {\n  erreurs.push('Montant non détecté');\n}\nif (!data.numero_facture || data.numero_facture.includes('[')) {\n  erreurs.push('Numéro non détecté');\n}\n\nreturn {\n  json: {\n    fournisseur: data.fournisseur || 'Non détecté',\n    date_facture: data.date_facture || 'Non détectée',\n    montant: data.montant || 0,\n    numero_facture: data.numero_facture || 'Non détecté',\n    statut_extraction: erreurs.length > 0 ? 'Incomplet' : 'Complet',\n    erreurs: erreurs.join(', ')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        144
      ],
      "id": "36c4447a-06f9-4933-a966-d608353c9a7b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ",
          "mode": "list",
          "cachedResultName": "Gestion Factures",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Factures",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k3E28UvvTHWjxBFi1H2-FzWrHPes8MZV9Mv7d93XFOQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "En attente",
            "Montant": "={{ $json.montant }}",
            "Date_facture": "={{ $json.date_facture }}",
            "Fournisseur": "={{ $json.fournisseur }}",
            "Email_user": "={{ $('Webhook1').item.json.body.email }}",
            "Date_reception": "={{ $now.format('DD/MM/YYYY') }}",
            "ID": "={{ $now.toMillis() }}",
            "Lien_PDF": "={{ $('Upload file1').item.json.webViewLink }}",
            "Qualité": "={{ $json.erreurs ? $json.erreurs : 'Complet' }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date_reception",
              "displayName": "Date_reception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_user",
              "displayName": "Email_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fournisseur",
              "displayName": "Fournisseur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date_facture",
              "displayName": "Date_facture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Montant",
              "displayName": "Montant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lien_PDF",
              "displayName": "Lien_PDF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualité",
              "displayName": "Qualité",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        144
      ],
      "id": "71c89f1e-8698-47e8-9983-23b072cc3f1b",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SJhAIlRu2s1EqAvd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook1').item.json.body.email }}",
        "subject": "Votre facture a été reçue ✅",
        "message": "=<h2>Bonjour {{ $('Webhook1').item.json.body.nom }},</h2>\n\n<p>Votre facture a bien été reçue et est en cours de traitement.</p>\n\n<p>Vous serez notifié par email dès qu'elle sera traitée par notre équipe.</p>\n\n<p>Merci de votre confiance.</p>\n\n<p>Cordialement,<br><b>Service Comptabilité</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1280,
        144
      ],
      "id": "e7d1599e-ec7f-46cb-a3c3-93656e0d86e8",
      "name": "Send a message2",
      "webhookId": "517530ec-5538-42ab-9834-82740f734ea3",
      "credentials": {
        "gmailOAuth2": {
          "id": "XMc04IcwohYvig4Q",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "guermitichawki@gmail.com",
        "subject": "Nouvelle facture reçue 🔔",
        "message": "=<h2>Nouvelle facture reçue</h2>\n\n<h3>Informations utilisateur :</h3>\n<ul>\n  <li><b>Nom :</b> {{ $('Webhook1').item.json.body.nom }}</li>\n  <li><b>Email :</b> {{ $('Webhook1').item.json.body.email }}</li>\n</ul>\n\n<h3>Détails de la facture :</h3>\n<ul>\n  <li><b>Fournisseur :</b> {{ $('Code in JavaScript1').item.json.fournisseur }}</li>\n  <li><b>Date :</b> {{ $('Code in JavaScript1').item.json.date_facture }}</li>\n  <li><b>Montant :</b> {{ $('Code in JavaScript1').item.json.montant }} DT</li>\n  <li><b>Numéro :</b> {{ $('Code in JavaScript1').item.json.numero_facture }}</li>\n</ul>\n\n<h3>Action requise :</h3>\n<p>Veuillez consulter et traiter cette facture dans les plus brefs délais.</p>\n<ul>\n  <li><a href=\"{{ $('Upload file1').item.json.webViewLink }}\">📄 Consulter le PDF</a></li>\n  <li><a href=\"https://docs.google.com/spreadsheets\">📊 Ouvrir Google Sheets</a></li>\n</ul>\n\n<p>Cordialement,<br><b>Système de gestion des factures</b></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        144
      ],
      "id": "ff583696-c77e-4ed6-a65c-4a9883e72cf8",
      "name": "Send a message3",
      "webhookId": "ec6bdc60-99ff-4ba9-b115-8d031314152c",
      "credentials": {
        "gmailOAuth2": {
          "id": "XMc04IcwohYvig4Q",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert comptable. Analyse ce texte de facture et extrais les informations suivantes.\nRéponds UNIQUEMENT avec un JSON valide, sans texte autour, sans markdown, sans backticks.\n\n{\n  \"fournisseur\": \"nom de l'entreprise qui émet la facture\",\n  \"date_facture\": \"date au format JJ/MM/AAAA\",\n  \"montant\": valeur numérique sans symbole,\n  \"numero_facture\": \"numéro de la facture si présent\"\n}\n\nTexte de la facture :\n{{ $('HTTP Request1').item.json.body }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        464,
        144
      ],
      "id": "53e9ae0d-91f3-470c-8ef8-5aba62e3e01a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ka0k6Y4f4ZlqnEJl",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "01ddf230-2d69-4b1e-bf07-31c99952e0cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef213a3c88a4d771ed6123df7ff92a125923751329e683bf77a89bc6cafb695c"
  },
  "id": "gcW6QncAyU8cc7KR",
  "tags": []
}